# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [27]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [28]:
city_df = pd.read_csv("../WeatherPy/output/cities.csv")
city_df.head()

,Unnamed: 0,City Name,Country,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Date
0,0,Ushuaia,AR,-68.30,-54.80,51.80,32,75,18.34,1605281251
1,1,Chaiya,TH,99.20,9.39,82.99,100,40,12.15,1605281251
2,2,Zheshart,RU,49.57,62.07,16.09,95,0,2.71,1605281251
3,3,Punta Arenas,CL,-70.92,-53.15,53.60,34,75,28.86,1605281041
4,4,Isabela,PH,121.97,6.71,77.00,94,20,1.12,1605281252

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [29]:
#configuring gmaps
gmaps.configure(api_key=g_key)

In [30]:
#adding heatmap
locations = city_df[["Latitude", "Longitude"]]
humidity = city_df["Humidity"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=humidity))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [31]:
#narrowing to fit conditions
filter_city_df = city_df.loc[(city_df["Max Temperature"] < 80) & (city_df["Max Temperature"] > 70) \
                                    & (city_df["Wind Speed"] < 10) \
                                    & (city_df["Cloudiness"] == 0)]
filter_city_df.dropna(inplace=True)
filter_city_df

/Applications/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Unnamed: 0,City Name,Country,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Date
27,27,Aswān,EG,32.91,24.09,78.40,21,0,9.40,1605281106
44,44,Faanui,PF,-151.75,-16.48,78.96,75,0,7.40,1605281109
54,54,Agüimes,ES,-15.45,27.91,77.00,41,0,4.70,1605281110
77,77,Sakakah,SA,40.21,29.97,71.60,35,0,4.70,1605281114
181,181,Marzuq,YE,46.47,14.40,72.43,35,0,2.53,1605281130
183,183,Fayaoué,NC,166.53,-20.65,75.51,83,0,9.60,1605281130
258,258,Sittwe,MM,92.90,20.15,79.92,78,0,6.17,1605281142
269,269,Yulara,AU,130.99,-25.24,71.60,16,0,5.06,1605281144
287,287,Dwārka,IN,68.97,22.24,79.88,59,0,9.46,1605281147
319,319,Emerald,AU,148.17,-23.53,71.60,94,0,6.93,1605281153
445,445,Dingle,PH,122.67,11.00,77.23,88,0,4.85,1605281172
448,448,Sur,OM,59.53,22.57,75.22,62,0,6.78,1605281173
490,490,Verāval,IN,70.37,20.90,79.57,56,0,4.21,1605281179
508,508,Dostpur,IN,82.47,26.28,75.47,43,0,4.79,1605281181
524,524,Sheikhpura,IN,85.85,25.15,76.68,47,0,3.87,1605281184
529,529,Rajshahi,BD,88.60,24.37,76.23,52,0,5.95,1605281184
530,530,Beldānga,IN,88.25,23.93,77.18,52,0,5.86,1605281184

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [32]:
hotel_df = filter_city_df.copy()
hotel_df["Hotel Name"] = "None"
hotel_df

,Unnamed: 0,City Name,Country,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
27,27,Aswān,EG,32.91,24.09,78.40,21,0,9.40,1605281106,None
44,44,Faanui,PF,-151.75,-16.48,78.96,75,0,7.40,1605281109,None
54,54,Agüimes,ES,-15.45,27.91,77.00,41,0,4.70,1605281110,None
77,77,Sakakah,SA,40.21,29.97,71.60,35,0,4.70,1605281114,None
181,181,Marzuq,YE,46.47,14.40,72.43,35,0,2.53,1605281130,None
183,183,Fayaoué,NC,166.53,-20.65,75.51,83,0,9.60,1605281130,None
258,258,Sittwe,MM,92.90,20.15,79.92,78,0,6.17,1605281142,None
269,269,Yulara,AU,130.99,-25.24,71.60,16,0,5.06,1605281144,None
287,287,Dwārka,IN,68.97,22.24,79.88,59,0,9.46,1605281147,None
319,319,Emerald,AU,148.17,-23.53,71.60,94,0,6.93,1605281153,None
445,445,Dingle,PH,122.67,11.00,77.23,88,0,4.85,1605281172,None
448,448,Sur,OM,59.53,22.57,75.22,62,0,6.78,1605281173,None
490,490,Verāval,IN,70.37,20.90,79.57,56,0,4.21,1605281179,None
508,508,Dostpur,IN,82.47,26.28,75.47,43,0,4.79,1605281181,None
524,524,Sheikhpura,IN,85.85,25.15,76.68,47,0,3.87,1605281184,None
529,529,Rajshahi,BD,88.60,24.37,76.23,52,0,5.95,1605281184,None
530,530,Beldānga,IN,88.25,23.93,77.18,52,0,5.86,1605281184,None

In [33]:
# parameters for hotel
params = {"radius": 5000,"types": "lodging","keyword":"hotel","key": g_key}

# iterating
for index, row in hotel_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # request and url print, json conversion
    address = requests.get(base_url, params=params)
    address = address.json()
    
    # first hotel grab and store
    try:
        hotel_df.loc[index, "Hotel Name"] = address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

,Unnamed: 0,City Name,Country,Longitude,Latitude,Max Temperature,Humidity,Cloudiness,Wind Speed,Date,Hotel Name
27,27,Aswān,EG,32.91,24.09,78.40,21,0,9.40,1605281106,None
44,44,Faanui,PF,-151.75,-16.48,78.96,75,0,7.40,1605281109,None
54,54,Agüimes,ES,-15.45,27.91,77.00,41,0,4.70,1605281110,None
77,77,Sakakah,SA,40.21,29.97,71.60,35,0,4.70,1605281114,None
181,181,Marzuq,YE,46.47,14.40,72.43,35,0,2.53,1605281130,None
183,183,Fayaoué,NC,166.53,-20.65,75.51,83,0,9.60,1605281130,None
258,258,Sittwe,MM,92.90,20.15,79.92,78,0,6.17,1605281142,None
269,269,Yulara,AU,130.99,-25.24,71.60,16,0,5.06,1605281144,None
287,287,Dwārka,IN,68.97,22.24,79.88,59,0,9.46,1605281147,None
319,319,Emerald,AU,148.17,-23.53,71.60,94,0,6.93,1605281153,None
445,445,Dingle,PH,122.67,11.00,77.23,88,0,4.85,1605281172,None
448,448,Sur,OM,59.53,22.57,75.22,62,0,6.78,1605281173,None
490,490,Verāval,IN,70.37,20.90,79.57,56,0,4.21,1605281179,None
508,508,Dostpur,IN,82.47,26.28,75.47,43,0,4.79,1605281181,None
524,524,Sheikhpura,IN,85.85,25.15,76.68,47,0,3.87,1605281184,None
529,529,Rajshahi,BD,88.60,24.37,76.23,52,0,5.95,1605281184,None
530,530,Beldānga,IN,88.25,23.93,77.18,52,0,5.86,1605281184,None

In [34]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [35]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))